h4,h3 {text-align:center;
}



nav {
}
.navbar.navbar-default {




}
.col-lg-12 .jumbotron .img-responsive.image-fill {
	width: 100%;
}
.image-fill {
}
#wrapper {
	padding-left: 0px;
	padding-right: 0px;
}
.jumbotron {
	background-color: white;
}

#wrapper {
}
#wrapper {
}
#wrapper {
}
